services:
  api_gateway:
    build: .
    ports:
      - "8000:8000"
    environment:
      # - RABBIT_URL=amqp://guest:guest@rabbitmq:5672/
      - RABBIT_URL=${RABBIT_URL}
      # - REDIS_URL=redis://redis:6379/0
      - REDIS_URL=${REDIS_URL}
    depends_on:
      - rabbitmq

  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"  # management UI

  # redis:
  #   image: redis:7
  #   ports:
  #     - "6379:6379"
